{% extends 'layout.html.twig' %}

{% block content %}
        
    <header>    
        <div class="left_side_mobile">
            <div class="burger">
                <div class="burger_line"></div>
                <div class="burger_line"></div>
                <div class="burger_line"></div>
            </div>
            <ul class="mobile_dropdown">
                <li><a href="?action=home">Accueil</a></li>
                <li><a href="?action=partner">Devenir Partenaires</a></li>
                {% if isConnected is defined %}
                    <li><a href="?action=profile">Profil</a></li>
                    <li><a href="?action=logout">Déconnexion</a></li>
                {% else %}
                    <li><a href="?action=register">Inscription</a></li>
                {% endif %}
            </ul>
            <img class="mobile_logo" alt="mobile_logo" src="assets/img/mobile_logo.png">
        </div>
        <div class="stats">
            <span>{{bottlesRecycled}}</span>
            <p>objets recylés !</p>
        </div>
        <ul class="menu_desktop">
            <li><a href="?action=home">Accueil</a></li>
            <li><a href="?action=partner">Devenir Partenaires</a></li>
            {% if isConnected is defined %}
                <li><a href="?action=profile">Profil</a></li>
            {% else %}
                <li><a href="?action=register">Inscription</a></li>
            {% endif %}
        </ul>
        <div class="end_header">
            {% if isConnected is defined %}
                <div class="current"><a href="#">{{user.pseudo}}</a></div>
                <a href="?action=logout"><img alt="logout" src="assets/img/logout.png"></a>
            {% else %}
                <div class="current"><a href="#">About us</a></div>
            {% endif %}

        </div>
    </header>

    <main class="us">
        <div class="header_img">Nous</div>
        <div class="content">
            <div class="txt">
                <div class="how_it_works">
                    <p class="title">Comment <br>ça a commencé ? <img alt="aside_girl" src="assets/img/aside_girl_us.png"></p>
                    <div class="works_content">
                        <p>Une bande de pote ayant pour intérêt principal l’écologie, voilà ce qui nous caractérise. Nous avons 
                        décidé d'alier nos compétences et nous lancer dans le projet de notre vie.</p>
                        <p class="middle_p"> Voilà maintenant deux ans que nous avons lancé notre projet et nous sommes fier et heureux de pouvoir 
                        vous transmettre toute notre passion à travers nos poubelles.</p>
                        <p>Nous vous remercions car sans vous, cette aventure ne pourrait continuer et nous nous efforçons au 
                        quotidien à répondre à toutes vos attentes et à toujours améliorer notre produit.</p>
                    </div>
                </div>
                <div class="our_goal">
                    <div>
                        <p class="title">Notre but</p>
                        <div class="goal_content">
                            <p>Nous voulons à travers nos poubelles favorisé bien évidemment l’écologie mais aussi dans le même temps l’économie des 
                            commerces du coin. </p>
                            <p>En plus de sauvé au quotidien notre planète vous pouvez vous faire plaisir chez vos commerçants favoris. What else ?</p>                       
                        </div>  
                    </div>
                    <img alt="flower" src="assets/img/us_flower.png">        
                </div>
            </div>
            <div class="img_aside">
                <img alt="aside_girl" src="assets/img/big_aside.png">
            </div>
        </div>
    </main>

{% endblock %}