{% extends 'layout.html.twig' %}

{% block content %}

    <div class="admin_page">
        <div class="container_form">
            <h2 class="title">Publier un article</h2>
            {% if loginErrors is defined and loginErrors is not empty %}
                <span class="error_block">{{ loginErrors }}</span><br>
            {% endif %}
            <form action="?action=admin" method="POST" enctype="multipart/form-data">
                <div class="login_form" >
                    <label for="title"><p>Titre : </p></label>
                    <input id="title" type="text" name="Title" placeholder="Titre de l'article" ">
                </div>
                <div class="login_form" >
                    <label for="file"><p>Image : </p></label>
                    <input type="file" id="file" name="file" value="{{ user.email }}">
                </div>
                <textarea class="ckeditor" name="editor1" id="editor1">
                </textarea>
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace( 'editor1' );
                </script>
                <button type="submit" class="button"><img src="assets/img/man-user.png">&nbsp;&nbsp;Publier</button>
            </form>
            <!--<form>

            </form>-->
        </div>
    </div>


{% endblock %}
