{% extends 'layout.html.twig' %}

{% block content %}
    <main class="home_page">
        <div class="about_me">
            <p>Bienvenue sur mon site ! Je m'appelle Cheikh Omar, j'ai 23 ans et je suis passionné par tout ce qui touche à l'informatique.</p>
        </div>
        <div class="last-posts">
            <h3 class="title">Articles récents</h3>
            <p>test</p>
        </div>
    </main>
{% endblock %}
