<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Cheikh Omar SOW</title>
        <link rel="icon" type="image/png" href="assets/img/infiniti.png">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta property="og:url"           content="http://www.cheikhomarsow.ovh/?action=article&token={{ article.token }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Cheikh Omar SOW" />
        <meta property="og:description"   content="Parlons informatique" />
        <meta property="og:image"         content="assets/img/infinity.png" />
        <link rel="stylesheet" href="assets/style/style.css">
        <link rel="stylesheet" href="assets/style/prism.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="assets/script/script.js"></script>
        <script src="assets/script/ckeditor/ckeditor.js"></script>

    </head>
    <body>
    <header>
        {% include 'partials/header.html.twig' %}
    </header>
        {% block content %}
        {% endblock %}
    <footer>
        {% include 'partials/footer.html.twig' %}
    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
        (function($) { // Begin jQuery
            $(function() { // DOM ready
                // If a link has a dropdown, add sub menu toggle.
                $('nav ul li a:not(:only-child)').click(function(e) {
                    $(this).siblings('.nav-dropdown').toggle();
                    // Close one dropdown when selecting another
                    $('.nav-dropdown').not($(this).siblings()).hide();
                    e.stopPropagation();
                });
                // Clicking away from dropdown will remove the dropdown class
                $('html').click(function() {
                    $('.nav-dropdown').hide();
                });
                // Toggle open and close nav styles on click
                $('#nav-toggle').click(function() {
                    $('nav ul').slideToggle();
                });
                // Hamburger to X toggle
                $('#nav-toggle').on('click', function() {
                    this.classList.toggle('active');
                });
            }); // end DOM ready
        })(jQuery); // end jQuery

    </script>
    <script src="assets/script/prism.js"></script>

    </body>
</html>
