<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Cheikh Omar SOW</title>
        <link rel="icon" type="image/png" href="assets/img/infiniti.png">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta property="og:url"           content="http://www.cheikhomarsow.ovh/?action=article&token={{ article.token }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Cheikh Omar SOW" />
        <meta property="og:description"   content="Parlons informatique" />
        <meta property="og:image"         content="assets/img/infinity.png" />
        <link rel="stylesheet" href="assets/style/style.css">
        <link rel="stylesheet" href="assets/style/prism.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="assets/script/script.js"></script>
        <script src="assets/script/ckeditor/ckeditor.js"></script>

    </head>
    <body>
    <header>
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a href="?action=home">COS</a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <a href="?action=home"><img src="assets/img/home.png">&nbsp;&nbsp;Accueil</a>
                        </li>
                        <li>
                            <a href="?action=forum"><img src="assets/img/question.png">&nbsp;&nbsp;Forum</a>
                        </li>
                        <li>
                            <a href="?action=contact"><img src="assets/img/contact.png">&nbsp;&nbsp;Contact</a>
                        </li>
                        {% if user.username is defined %}
                            <li>
                                <a href="#!"><img src="assets/img/man-user.png">&nbsp;&nbsp;Mon compte</a>
                                <ul class="nav-dropdown">
                                    {% if admin == true %}
                                        <li>
                                            <a href="?action=admin"><img src="assets/img/man-with-tie.png">&nbsp;&nbsp;Administration</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="?action=user"><img src="assets/img/settings-work-tool.png">&nbsp;&nbsp;Mon profil</a>
                                    </li>
                                    <li>
                                        <a href="?action=logout"><img src="assets/img/logout.png">&nbsp;&nbsp;Me déconnecter</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                                <li>
                                    <a href="?action=reglog"><img src="assets/img/man-user.png">&nbsp;&nbsp;Espace membre</a>
                                </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>

    </header>
        {% block content %}
        {% endblock %}
    <footer>
        <h4 class="title">A propos de Cheikh Omar SOW</h4>
        <div class="about">
            <p class="sous-titre">Qui suis-je ?</p>
            <p class="about_me">
                Je m'appelle Cheikh Omar, j'ai 23 ans, je suis
                passionné par tout ce qui touche à l'informatique.
            </p>
        </div>
        <div class="social">
            <p class="sous-titre">Retrouvez-moi sur les résaux sociaux !</p>
            <a href="https://www.linkedin.com/in/cheikh-omar-sow-54904412b/" target="_blank"><img src="assets/img/linkedin.png" alt="social"></a>
            <a href="https://github.com/cheikhomarsow/" target="_blank"><img src="assets/img/github.png" alt="social"></a>
            <a href="https://www.facebook.com/cheikhomar.sow" target="_blank"><img src="assets/img/facebook.png" alt="social"></a>
            <a href="https://twitter.com/cos45sin45" target="_blank"><img src="assets/img/twitter.png" alt="social"></a>
            <a href="https://www.instagram.com/cos221_/?hl=fr" target="_blank"><img src="assets/img/instagram.png" alt="social"></a>
        </div>
    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
        (function($) { // Begin jQuery
            $(function() { // DOM ready
                // If a link has a dropdown, add sub menu toggle.
                $('nav ul li a:not(:only-child)').click(function(e) {
                    $(this).siblings('.nav-dropdown').toggle();
                    // Close one dropdown when selecting another
                    $('.nav-dropdown').not($(this).siblings()).hide();
                    e.stopPropagation();
                });
                // Clicking away from dropdown will remove the dropdown class
                $('html').click(function() {
                    $('.nav-dropdown').hide();
                });
                // Toggle open and close nav styles on click
                $('#nav-toggle').click(function() {
                    $('nav ul').slideToggle();
                });
                // Hamburger to X toggle
                $('#nav-toggle').on('click', function() {
                    this.classList.toggle('active');
                });
            }); // end DOM ready
        })(jQuery); // end jQuery

    </script>
    <script src="assets/script/prism.js"></script>

    </body>
</html>
