@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: 'robotoBold';
}
@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: 'robotoRegular';
}
@font-face {
  src: url("../fonts/Roboto-Light.ttf");
  font-family: 'robotoLight';
}
@font-face {
  src: url("../fonts/Poppins-Medium.ttf");
  font-family: 'PoppinsMedium';
}
@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: 'PoppinsRegular';
}
@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: 'PoppinsSemiBold';
}
@media screen {
  body {
    margin: 0px;
  }

  p, ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .none {
    display: none;
  }

  header {
    background-color: #0077B5;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 3;
    position: fixed;
  }
  header .mobile_dropdown {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  header .mobile_dropdown li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-family: "robotoRegular";
    color: white;
  }
  header .mobile_dropdown li a:hover {
    font-family: "robotoBold";
  }
  header .mobile_dropdown li .active {
    background: #3B5998;
  }
}
@media screen and (min-width: 1024px) {
  header .mobile_dropdown {
    display: none;
  }
}
@media screen {
  header .menu_desktop {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  header .menu_desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  header .menu_desktop li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-family: "robotoRegular";
    color: white;
  }
  header .menu_desktop li a:hover {
    font-family: "robotoBold";
  }
  header .menu_desktop li .active {
    background: #3B5998;
  }
}
@media screen {
  header .menu-btn {
    display: none;
  }
  header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  header .menu-btn:checked ~ .mobile_dropdown {
    max-height: 240px;
  }
  header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    background: #ed6147;
  }
  header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Permanent Marker', cursive;
  }
  header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
}
@media screen and (min-width: 1024px) {
  header .menu-icon {
    display: none;
  }
}
@media screen {
  header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  header .menu-icon .navicon:after, header .menu-icon .navicon:before {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  header .menu-icon .navicon:before {
    top: 5px;
  }
  header .menu-icon .navicon:after {
    top: -5px;
  }

  .home_page {
    padding: 75px 20px 15px 20px;
  }
}
@media screen and (min-width: 768px) {
  .home_page {
    min-height: 500px;
  }
}
@media screen {
  .home_page .about_me p {
    font-family: "robotoLight";
  }
  .home_page .last-posts .title {
    color: #2C3E50;
    font-family: "robotoLight";
    border-bottom: 2px solid #2C3E50;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .home_page .last-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen {
  .home_page .last-posts .article_summary {
    padding: 5px 10px;
    margin: 10px 0;
    background: #F6F7F9;
    border-radius: 5px;
  }
}
@media screen and (min-width: 768px) {
  .home_page .last-posts .article_summary {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .home_page .last-posts .article_summary {
    width: 30%;
  }
}
@media screen {
  .home_page .last-posts .article_summary .title_article {
    font-family: "robotoLight";
    color: #2C3E50;
  }
  .home_page .last-posts .article_summary .resume_autor {
    font-size: 0.8em;
  }
  .home_page .last-posts .article_summary .resume_autor .autor {
    font-family: "PoppinsSemiBold";
    color: #2C3E50;
  }
  .home_page .last-posts .article_summary .resume_autor .date {
    font-style: italic;
    font-size: 0.8em;
    color: grey;
  }
  .home_page .last-posts .article_summary .resume_autor img {
    max-width: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .home_page .last-posts .article_summary .resume_autor img {
    max-width: 12px;
  }
}
@media screen {
  .home_page .last-posts .article_summary .more {
    width: 100%;
    text-align: center;
  }
  .home_page .last-posts .article_summary .img {
    width: 100%;
    padding-bottom: 5px;
  }
  .home_page .last-posts .article_summary .content_article {
    font-family: "PoppinsMedium";
  }

  .article_page {
    padding: 75px 20px 15px 20px;
  }
  .article_page .article {
    padding: 5px 10px;
    margin: 10px 0;
    background: #F6F7F9;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .article_page .article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen {
  .article_page .article .title_article {
    font-family: "robotoLight";
    color: #2C3E50;
    width: 100%;
    text-align: center;
  }
  .article_page .article .resume_autor {
    font-size: 0.8em;
    text-align: center;
  }
  .article_page .article .resume_autor .autor {
    font-family: "PoppinsSemiBold";
    color: #2C3E50;
  }
  .article_page .article .resume_autor .date {
    font-style: italic;
  }
}
@media screen and (min-width: 1024px) {
  .article_page .article .resume_autor {
    width: 100%;
  }
}
@media screen {
  .article_page .article .resume_autor img {
    max-width: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .article_page .article .resume_autor img {
    max-width: 12px;
  }
}
@media screen and (min-width: 768px) {
  .article_page .article .img {
    width: 40%;
    margin: auto;
  }
}
@media screen {
  .article_page .article .img img {
    width: 100%;
    padding-bottom: 5px;
  }
  .article_page .article .content_article {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .article_page .article .content_article {
    width: 70%;
    margin: auto;
  }
}
@media screen {
  .article_page .article .content_article pre {
    white-space: pre-wrap;
    background: #272822;
    color: #FFF;
    width: 100%;
  }
  .article_page .article .content_article pre strong {
    color: #5ABF2C;
  }
}
@media screen and (min-width: 768px) {
  .article_page .article .content_article pre {
    width: 70%;
    margin: auto;
  }
}
@media screen {
  .article_page .article .content_article p {
    font-family: 'Roboto', sans-serif;
    line-height: 180%;
    width: 100%;
  }
  .article_page .article .content_article p code {
    background: white;
  }
}
@media screen and (min-width: 768px) {
  .article_page .article .content_article p img {
    width: 80% !important;
    margin: 10px 10%;
  }
}
@media screen {
  .article_page .article .share-button {
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }
  .article_page .article .share-button .IN-widget {
    margin: 5px;
  }
  .article_page .article .share-button .fb-share-button {
    margin: 5px;
  }
  .article_page .article .comment-box {
    margin: 75px 0 50px 0;
    width: 100%;
  }
  .article_page .article .comment-box .title {
    color: #2C3E50;
    font-family: "robotoLight";
    border-bottom: 2px solid #2C3E50;
    width: 100%;
  }
  .article_page .article .comment-box .available_comment {
    border: 1px solid #E9EAEC;
    background: #E9EAEC;
    border-radius: 10px;
    padding: 10px;
  }
  .article_page .article .comment-box .available_comment p {
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    margin-bottom: 5px;
  }
  .article_page .article .comment-box .available_comment p .userComment {
    color: #2C3E50;
  }
  .article_page .article .comment-box .available_comment p .dateComment {
    font-style: italic;
    font-size: 0.8em;
    color: grey;
  }
  .article_page .article .comment-box .available_comment .zeroComment {
    text-align: center;
    color: #2C3E50;
  }
  .article_page .article .comment-box .cantComment {
    width: 90%;
    margin-left: 2.5%;
    padding: 10px;
    background: #ed6147;
    border-radius: 5px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .article_page .article .comment-box .cantComment {
    width: 60%;
    margin-left: 20%;
  }
}
@media screen {
  .article_page .article .comment-box .cantComment a {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .article_page .article .comment-box .comment {
    width: 90%;
    margin-left: 5%;
  }
  .article_page .article .comment-box .comment .error_comment {
    color: #ed6147;
    padding: 5px;
  }
  .article_page .article .comment-box .comment textarea {
    width: 99%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .article_page .article .comment-box .comment textarea:focus {
    border: 2px solid #0077B5;
  }
  .article_page .article .comment-box .comment .button {
    width: 80%;
    margin-left: 10%;
    padding: 10px 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.42857143;
    background: #2C3E50;
    color: white;
    border: 1px solid #0077B5;
    border-radius: 5px;
  }

  .admin_comments_page {
    padding: 75px 20px 15px 20px;
  }
  .admin_comments_page .dashbord {
    width: 100%;
  }
  .admin_comments_page .dashbord .title {
    color: #0077B5;
    font-family: "robotoLight";
    border-bottom: 2px solid #0077B5;
    width: 100%;
  }
  .admin_comments_page .dashbord .users, .admin_comments_page .dashbord .articles {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #0077B5;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .admin_comments_page .dashbord .users a, .admin_comments_page .dashbord .articles a {
    color: #FFF;
    font-family: "robotoBold";
  }
  .admin_comments_page .dashbord .comments {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #1A242F;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .admin_comments_page .dashbord .comments a {
    color: #FFF;
    font-family: "robotoBold";
  }
  .admin_comments_page .recap {
    width: 100%;
    padding: 30px 0;
  }
  .admin_comments_page .recap table {
    width: 100%;
  }
  .admin_comments_page .recap table .subject_infos {
    text-align: center;
    background: #39B54A;
    font-family: "robotoBold";
    color: white;
  }
  .admin_comments_page .recap table .subject_infos .autor {
    border-radius: 10px 0 0 10px;
    width: 25%;
    padding: 5px;
  }
  .admin_comments_page .recap table .subject_infos .comment {
    width: 60%;
    padding: 5px;
  }
  .admin_comments_page .recap table .subject_infos .date {
    border-radius: 0px 10px 10px 0;
    width: 25%;
    padding: 5px;
  }
  .admin_comments_page .recap table .infos_comments {
    background: #F6F7F9;
  }
  .admin_comments_page .recap table .infos_comments td {
    padding: 5px;
  }
  .admin_comments_page .recap table .infos_comments td label {
    float: right;
  }
  .admin_comments_page .recap table .infos_comments td .id1 {
    color: #0e0570;
  }
  .admin_comments_page .recap table .infos_comments td .id_val1 {
    color: #0e0570;
    opacity: 0.7;
  }
  .admin_comments_page .recap table .infos_comments td .id2 {
    color: #f72525;
  }
  .admin_comments_page .recap table .infos_comments td .id_val2 {
    color: #f72525;
    opacity: 0.7;
  }
  .admin_comments_page .recap table .infos_comments td .id3 {
    color: #0bbc01;
  }
  .admin_comments_page .recap table .infos_comments td .id_val3 {
    color: #0bbc01;
    opacity: 0.7;
  }
  .admin_comments_page .recap table .infos_comments .none {
    display: none;
  }

  .admin_articles_page {
    padding: 75px 20px 15px 20px;
  }
  .admin_articles_page .dashbord {
    width: 100%;
  }
  .admin_articles_page .dashbord .title {
    color: #0077B5;
    font-family: "robotoLight";
    border-bottom: 2px solid #0077B5;
    width: 100%;
  }
  .admin_articles_page .dashbord .users, .admin_articles_page .dashbord .comments {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #0077B5;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .admin_articles_page .dashbord .users a, .admin_articles_page .dashbord .comments a {
    color: #FFF;
    font-family: "robotoBold";
  }
  .admin_articles_page .dashbord .articles {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #1A242F;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .admin_articles_page .dashbord .articles a {
    color: #FFF;
    font-family: "robotoBold";
  }
  .admin_articles_page .recap {
    width: 100%;
    padding: 30px 0;
  }
  .admin_articles_page .recap table {
    width: 100%;
  }
  .admin_articles_page .recap table .subject_infos {
    text-align: center;
    background: #39B54A;
    font-family: "robotoBold";
    color: white;
  }
  .admin_articles_page .recap table .subject_infos .autor {
    border-radius: 10px 0 0 10px;
    width: 25%;
    padding: 5px;
  }
  .admin_articles_page .recap table .subject_infos .title {
    width: 60%;
    padding: 5px;
  }
  .admin_articles_page .recap table .subject_infos .date {
    border-radius: 0px 10px 10px 0;
    width: 25%;
    padding: 5px;
  }
  .admin_articles_page .recap table .infos_articles {
    background: #F6F7F9;
  }
  .admin_articles_page .recap table .infos_articles td {
    padding: 5px;
  }
  .admin_articles_page .recap table .infos_articles td .label {
    float: right;
  }
  .admin_articles_page .recap table .infos_articles td .id {
    color: #f72525;
  }
  .admin_articles_page .recap table .infos_articles td .id_val {
    color: #f72525;
    opacity: 0.7;
  }

  .edit_article_page {
    padding: 75px 20px 15px 20px;
  }
  .edit_article_page .container_form {
    margin: 0 10px;
  }
  .edit_article_page .container_form .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
  .edit_article_page .container_form .title {
    color: #0077B5;
    font-family: "robotoLight";
    border-bottom: 2px solid #0077B5;
  }
  .edit_article_page .container_form .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  .edit_article_page .container_form .login_form p {
    color: #0077B5;
    font-family: "robotoBold";
    padding: 10px;
  }
  .edit_article_page .container_form .login_form .input {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .edit_article_page .container_form .login_form .input:focus {
    border: 2px solid #0077B5;
  }
  .edit_article_page .container_form .button {
    width: 100%;
    padding: 10px 10px;
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.42857143;
    background: #0077B5;
    color: white;
    border: 1px solid #0077B5;
    border-radius: 5px;
  }

  .admin_users_page {
    padding: 75px 20px 15px 20px;
  }
  .admin_users_page .dashbord {
    width: 100%;
  }
  .admin_users_page .dashbord .title {
    color: #0077B5;
    font-family: "robotoLight";
    border-bottom: 2px solid #0077B5;
    width: 100%;
  }
  .admin_users_page .dashbord .users {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #1A242F;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .admin_users_page .dashbord .users a {
    color: #FFF;
    font-family: "robotoBold";
  }
  .admin_users_page .dashbord .articles, .admin_users_page .dashbord .comments {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #0077B5;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .admin_users_page .dashbord .articles a, .admin_users_page .dashbord .comments a {
    color: #FFF;
    font-family: "robotoBold";
  }
  .admin_users_page .recap {
    width: 100%;
    padding: 30px 0;
  }
  .admin_users_page .recap table {
    width: 100%;
  }
  .admin_users_page .recap table .subject_infos {
    text-align: center;
    background: #39B54A;
    font-family: "robotoBold";
    color: white;
  }
  .admin_users_page .recap table .subject_infos .username {
    border-radius: 10px 0 0 10px;
    width: 35%;
    padding: 5px;
  }
  .admin_users_page .recap table .subject_infos .email {
    width: 40%;
    padding: 5px;
  }
  .admin_users_page .recap table .subject_infos .registerDate {
    border-radius: 0px 10px 10px 0;
    width: 25%;
    padding: 5px;
  }
  .admin_users_page .recap table .infos_users {
    background: #F6F7F9;
  }
  .admin_users_page .recap table .infos_users td {
    padding: 5px;
  }
  .admin_users_page .recap table .infos_users td label {
    float: right;
  }
  .admin_users_page .recap table .infos_users td .id {
    color: #0e0570;
  }
  .admin_users_page .recap table .infos_users td .id_val {
    color: #0e0570;
    opacity: 0.7;
  }

  .admin_page {
    padding: 75px 20px 15px 20px;
  }
  .admin_page .dashbord {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #0077B5;
    border-radius: 5px;
  }
  .admin_page .dashbord a {
    color: #FFF;
    font-family: "robotoBold";
  }
  .admin_page .container_form {
    margin: 0 10px;
    /*@media(min-width: 768px) {
      width: 40%;
    }*/
  }
  .admin_page .container_form .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
  .admin_page .container_form .title {
    color: #0077B5;
    font-family: "robotoLight";
    border-bottom: 2px solid #0077B5;
  }
  .admin_page .container_form .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  .admin_page .container_form .login_form p {
    color: #0077B5;
    font-family: "robotoBold";
    padding: 10px;
  }
  .admin_page .container_form .login_form .input {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .admin_page .container_form .login_form .input:focus {
    border: 2px solid #0077B5;
  }
  .admin_page .container_form .button {
    width: 100%;
    padding: 10px 10px;
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.42857143;
    background: #0077B5;
    color: white;
    border: 1px solid #0077B5;
    border-radius: 5px;
  }

  .user_page {
    padding-top: 58px;
  }
}
@media screen and (min-width: 768px) {
  .user_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 500px;
  }
}
@media screen {
  .user_page .container_form {
    margin: 0 10px;
  }
  .user_page .container_form .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
}
@media screen and (min-width: 768px) {
  .user_page .container_form {
    width: 40%;
  }
}
@media screen {
  .user_page .container_form .title {
    color: #2C3E50;
    font-family: "robotoLight";
    border-bottom: 2px solid #2C3E50;
  }
  .user_page .container_form .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  .user_page .container_form .login_form p {
    color: #2C3E50;
    font-family: "robotoBold";
  }
  .user_page .container_form .login_form input {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .user_page .container_form .login_form input:focus {
    border: 2px solid #0077B5;
  }
  .user_page .container_form .button {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.42857143;
    background: #2C3E50;
    color: white;
    border: 1px solid #0077B5;
    border-radius: 5px;
  }

  .reglog_page {
    padding-top: 58px;
  }
}
@media screen and (min-width: 768px) {
  .reglog_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 500px;
  }
}
@media screen {
  .reglog_page .container_form {
    margin: 0 10px;
  }
  .reglog_page .container_form .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
}
@media screen and (min-width: 768px) {
  .reglog_page .container_form {
    width: 40%;
  }
}
@media screen {
  .reglog_page .container_form .title {
    color: #2C3E50;
    font-family: "robotoLight";
    border-bottom: 2px solid #2C3E50;
  }
  .reglog_page .container_form .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  .reglog_page .container_form .login_form p {
    color: #2C3E50;
    font-family: "robotoBold";
  }
  .reglog_page .container_form .login_form input {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .reglog_page .container_form .login_form input:focus {
    border: 2px solid #0077B5;
  }
  .reglog_page .container_form .button {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.42857143;
    background: #2C3E50;
    color: white;
    border: 1px solid #0077B5;
    border-radius: 5px;
  }

  .contact_page {
    padding-top: 58px;
    margin: 0 10px;
  }
  .contact_page .success_block {
    color: #39B54A;
    font-family: "PoppinsSemiBold";
  }
}
@media screen and (min-width: 768px) {
  .contact_page {
    width: 80%;
    margin: auto;
    min-height: 500px;
  }
}
@media screen {
  .contact_page .title {
    color: #2C3E50;
    font-family: "robotoLight";
    border-bottom: 2px solid #2C3E50;
  }
  .contact_page .error_block {
    color: #ed6147;
    font-family: "PoppinsSemiBold";
  }
  .contact_page .login_form p {
    color: #2C3E50;
    font-family: "robotoBold";
  }
  .contact_page .login_form input, .contact_page .login_form textarea {
    width: 94%;
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
  }
  .contact_page .login_form input:focus, .contact_page .login_form textarea:focus {
    border: 2px solid #0077B5;
  }
  .contact_page .login_form textarea {
    height: 200px;
  }
  .contact_page .waiting {
    width: 100%;
    text-align: center;
    color: #2C3E50;
    font-size: 0.8em;
  }
  .contact_page .button {
    width: 97.5%;
    padding: 10px 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.42857143;
    background: #2C3E50;
    color: white;
    border: 1px solid #0077B5;
    border-radius: 5px;
  }

  footer {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen {
  footer .title {
    color: #0077B5;
    font-family: "PoppinsMedium";
    border-bottom: 2px solid #0077B5;
  }
}
@media screen and (min-width: 768px) {
  footer .title {
    width: 100%;
  }
}
@media screen {
  footer .about {
    margin: 10px 10px;
  }
}
@media screen and (min-width: 768px) {
  footer .about {
    width: 40%;
  }
}
@media screen {
  footer .about .sous-titre {
    color: #0077B5;
    font-family: "robotoBold";
  }
  footer .about .about_me {
    font-family: "robotoLight";
  }
  footer .social {
    margin: 10px 10px;
  }
}
@media screen and (min-width: 768px) {
  footer .social {
    width: 40%;
  }
}
@media screen {
  footer .social .sous-titre {
    color: #0077B5;
    font-family: "robotoBold";
  }
  footer .social img {
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
