$neutralColor: #2C3E50; // nav || footer
$orange: #f0816c;
$orangeHover: #FFAB9B;
$red: #ed6147;
$grey: grey;
$green: #08ED34;
$hover: #2EBC99;
$backgroundArticle: #F6F7F9;
$backgroundComment: #E9EAEC