$neutralColor: #0077B5; // nav || footer
$neutral: #2C3E50;
$orange: #f0816c;
$orangeHover: #FFAB9B;
$red: #ed6147;
$grey: grey;
$green: #39B54A;
$hover: #2EBC99;
$backgroundArticle: #F6F7F9;
$backgroundComment: #E9EAEC;
$idColor1: #0e0570;
$idColor2: #f72525;
$idColor3: #0bbc01;
$codeBackground : #272822;
$codeFunction : #5ABF2C;